In [128]:
import numpy as np

In [129]:
import pandas as pd

In [130]:
import matplotlib.pyplot as plt

In [131]:
import seaborn as sns

In [13]:
df = pd.read_csv('student_data_preprocessed.csv')

In [15]:
df.dtypes

Age                    int64
Gender                 int64
ParentalEducation      int64
StudyTimeWeekly      float64
Absences               int64
Tutoring               int64
ParentalSupport        int64
Extracurricular        int64
Sports                 int64
Music                  int64
Volunteering           int64
GPA                  float64
Ethnicity_1             bool
Ethnicity_2             bool
Ethnicity_3             bool
dtype: object

In [17]:
df.head()

,Age,Gender,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,Ethnicity_1,Ethnicity_2,Ethnicity_3
0,17,1,2,19.833723,7,1,2,0,0,1,0,2.929196,False,False,False
1,18,0,1,15.408756,0,0,1,0,0,0,0,3.042915,False,False,False
2,15,0,3,4.210570,26,0,2,0,0,0,0,0.112602,False,True,False
3,17,1,3,10.028829,14,0,3,1,0,0,0,2.054218,False,False,False
4,17,1,2,4.672495,17,1,3,0,0,0,0,1.288061,False,False,False

In [31]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

In [115]:
X = df.drop(columns=['GPA'])
y = df['GPA']

In [105]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [107]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [109]:
reg = {
    "Linear Regression": LinearRegression(),
    "Random Forest Regressor": RandomForestRegressor(random_state=42)}

In [140]:
rm = {}
for name, model in reg.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    rm[name] = {
        "R^2 Score": r2_score(y_test, y_pred) * 100,
        "Mean Squared Error": mean_squared_error(y_test, y_pred),
        "Mean Absolute Error": mean_absolute_error(y_test, y_pred)}

In [142]:
rm_df = pd.DataFrame(rm).T
print(rm_df)

                         R^2 Score  Mean Squared Error  Mean Absolute Error
Linear Regression        95.327168            0.038641              0.15526
Random Forest Regressor  92.732631            0.060096              0.18997

# Evaluation

After training regression models and having our target variable assigned as grade point average and with our academic and extracurricular activites included, we are getting high accuracy with both our trained models of linear regression and random forest regression. We can use this finding to help answer the initial question of if performance can be reliably predicted from our available data. When we look at mean squared error and mean absolute error, the percentage of error is low for both our trained regression models, which is what will satisfy our original question. From this we can understand that when we consider all of the available attributes given to us in the dataset, we can accurately conclude that we are able to predict the outcome of the student's gpa with the given data. These attributes are very significant to the outcome of a student's gpa and can be used to predict the performance of a student.